
<div class="container">
    <div class="row justify-content-center">
        <% @projects.each do |project| %>
            <div class="col-md-6 col-10">
                <div class="card my-2">
                    <img class="card-img-top" src="<%= project.picture %>" alt="<%= project.title %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= project.title %></h5>
                        <p class="card-text"><%= project.description %></p>
                        <a href="<%= project.link %>" class="btn btn-primary" target="_blank">See more</a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>